body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: rgb(243, 247, 247);
  }

.addbutton {
    font: 14px "Century Gothic", Futura, sans-serif;
    background: rgb(85, 183, 248);
    border-radius: 5px;
    border: 0;
    color: white;
    height: 25px;
    width: 50px;
    padding: 3px 8px;
}

.card {
    background: rgb(255, 255, 255);
    padding: 10px 2px;
    border-radius: 20px;
}
